@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: center / cover no-repeat
    url("https://media.admagazine.ru/photos/61407a55f7d862083662be2b/master/w_1600%2Cc_limit/atelier%2520web%2520(17%2520of%252030).jpg");
}
.App {
  flex: 1 1 auto;
  width: 75%;
  margin: 0 auto;
  display: flex;
}

body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background: #8d96a2;
  border-radius: 10px;
  border: 3px solid #f9f8fb;
}

body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  background: #f9f8fb;
  border-radius: 10px;
}
